{% if config.theme.showHero %}
<section class="hero">
  <h1 class="hero-title">{{ site.title }}</h1>
  <p class="hero-description">{{ site.description }}</p>
</section>
<style>
.hero {
  padding: 0;
}
</style>
{% endif %}

