.site-header {
  padding: var(--spacing-md) 0
}

.hero {
  padding: 0;
}

.site-footer {
  padding: var(--spacing-md) 0;
}

.youtube-embed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 16/9;
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow-md);
  margin: var(--spacing-md) 0;
}

.youtube-embed iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

[data-theme="dark"]:root {
  --color-bg: #202020; /* 1F1F1F */
  --color-bg-alt: #252525;
}
