<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title if page.title else site.blog_title }}</title>
  <meta name="author" content="{{ site.author}}" />
  <meta
    name="description"
    content="{{ page.description if page.description else site.blog_description }}"
  />
  {% if page.slug %}
  <meta property="og:url" content="{{site.blog_url}}{{ page.slug }}" />
  {% else %}
  <meta property="og:url" content="{{site.blog_url}}" />
  {% endif %}
  <meta property="og:title" content="{{ page.title if page.title else site.blog_title }}" />
  <meta property="og:description" content="{{ page.description if page.description else site.blog_description }}" />
  <meta property="og:image" content="{{ page.post_image }}" />

  <link type="application/rss+xml" rel="alternate" href="{{ site.blog_url }}/rss.xml" title="{{ site.blog_title }} - RSS Feed" />
  <link type="application/atom+xml" rel="alternate" href="{{ site.blog_url }}/atom.xml" title="{{ site.blog_title }} - Atom Feed" />
  <link type="application/feed+json" rel="alternate" href="{{ site.blog_url }}/feed.json" title="{{ site.blog_title }} - JSON Feed" />

  <link rel="stylesheet" type="text/css" href="/css/theme.css" />
  <link rel="stylesheet" type="text/css" href="/css/markdown.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/{{ site.highlightjs_theme }}.css"
  />
</head>
