<!DOCTYPE >
<html lang="en-US">
  {% include "_head.njk" %}
  <body class="markdown-body" data-theme="dark">
    {% include "_nav.njk" %}
    <main class="content">
      {% include "_header.njk" %}
      {% block content %}{% endblock %} 
      {% include "_footer.njk" %}
    </main>
  </body>
</html>
