<nav>
  <div class="content nav-container">
    <h1 class="blog-title"><a href="/">{{ site.blog_title }}</a></h1>
    <ul>
      {% for link in site.nav %}
      <li>
        <a href="{{ site.blog_url }}{{ link.href }}" title="{{ link.title }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
