{%extends "_layout.njk" %}

{% block content %}
<div class="posts">
  {% for year, posts in posts | sort(true, false, 'created_at') | groupby("date.year") %}
  <div class="year">{{ year }}</div>
  <ul>
    {% for post in posts %}
    <li>
      <span class="date" title="{{ post.datetime}}">
        {{ post.date.date }}
      </span>
      <a href="{{ post.slug }}.html" title="{{ post.title }}"> {{ post.title }} </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endblock %}
